* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Section 1 */

img {
    width: 250px;
    height: auto;
}
header, footer {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 20px;
    margin: -10px -10px 0px;
    font-size: 16px;
}
topper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hero_left {
    flex-flow: column nowrap;
    justify-content: left;
}
hero_content {
    display: flex;
    padding: 20px;
    gap: 20px;
}
main_text {
    text-emphasis: 900;
    font-size: 48px;
    flex-shrink: 1 0 auto;
}
hero_content p {
    font-size: 18px;
    color: #E5E7EB;
}

hero_content button {
    justify-self: center;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px #E5E7EB;
    border-radius: 5px;
    padding: 4px 8px;
}
.hero_image {
    flex: 1 0 auto;
    width: 500px;
    height: auto;
}

.header_links {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    gap: 20px;
}
.header_links a {
    text-decoration: none;
    color: inherit;
}
.header_logo {
    width: 100px;
    height: 100px;
    border-radius: 55%;
}

.hero_image {
    width: 500px;
    height: auto;
}

/* Section 2 */

images {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 100px;
}
images h1 {
    flex: 1 0 auto;
    align-self: center;
    font-size: 36px;
    text-emphasis: 900;
    color: #1F2937;
    margin-bottom: 0px;
}

images contentainer {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 100px 10px;
}

figure {
    color: #1F2937;
    text-align: center;
}

figure img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

/* Section 3 */
quotetainer {
    display: flex;
    background-color: #E5E7EB;
    flex-flow: column;
    padding: 100px;
    margin: -10px -10px 0;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}
quotetainer credit {
    text-align: right;
}
/* Section 4 */
calltoaction {
    display: flex;
    align-items: center;
    justify-content: center;
}
cta_prompt {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 100px;
    padding: 40px 60px;
    color: white;
    background-color:#3882F6;
    border-radius: 10px;
}

cta_prompt button {
    background-color:#3882F6;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 1px 20px;
    flex-shrink: 0;
}

/* footer */
footer {
    text-align: center;
    margin-bottom: -20px;
}